.finances-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  padding: 8px;
  white-space: nowrap;
  text-align: left;
}

.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.expense-amount {
  color: red;
}

.income-amount {
  color: lawngreen;
}

.date-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  color: #333;
}

.balance-header {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.action-buttons {
  gap: 4px;
  justify-content: center;
  margin-top: 1em;
}

.mat-column-category {
  width: 20%;
}

.mat-column-description {
  width: 40%;
}

.mat-column-amount {
  width: 20%;
}

.mat-column-options {
  text-align: center;
  width: 20%;
}

.mat-mdc-raised-button:not(:disabled) {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-mdc-raised-button:not(:disabled):hover {
  background-color: #0056b3;
}

.action-buttons-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.month-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.month-navigation button {
  margin: 5px 5px 0;
}
