<div class="finances-container">
  <h2>Finanse</h2>

  <div class="action-buttons-menu">
    <button mat-raised-button (click)="openNewTransactionDialog()">Dodaj nową transakcję</button>
    <button mat-raised-button (click)="openManageCategoriesDialog()">Zarządzaj kategoriami</button>
  </div>

  <br>

  <div class="month-navigation">
    <button mat-raised-button *ngFor="let month of months" (click)="setMonth(month)">
      {{ monthNames[month - 1] }}
    </button>
  </div>

  <ng-container *ngFor="let date of getDates()">
    <h3 class="date-header">{{ getFormattedDate(date) }}</h3>
    <h4 class="balance-header" [ngClass]="{'positive-balance': getDailyBalance(date) > 0, 'negative-balance': getDailyBalance(date) < 0}">
      Bilans: {{ getDailyBalance(date) | currency:'PLN':'symbol':'1.2-2' }}
    </h4>
    <table mat-table [dataSource]="groupedTransactions[date]" class="mat-elevation-z8">

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="mat-column-category"> Kategoria </th>
        <td mat-cell *matCellDef="let element"> {{ element.category.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="mat-column-description"> Opis </th>
        <td mat-cell *matCellDef="let element"> {{ element.description || 'Brak opisu' }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="mat-column-amount"> Kwota </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'expense-amount': isExpense(element), 'income-amount': isIncome(element)}"> {{ element.amount | currency:'PLN':'symbol':'1.2-2' }} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef class="mat-column-options"> Opcje </th>
        <td mat-cell *matCellDef="let element" class="action-buttons">
          <button mat-icon-button color="primary" (click)="editTransaction(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTransaction(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['category', 'description', 'amount', 'options']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['category', 'description', 'amount', 'options'];"></tr>
    </table>
  </ng-container>
</div>
