<h1 mat-dialog-title>Dodaj nową transakcję</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Kategoria</mat-label>
    <mat-select [(ngModel)]="newTransaction.category">
      <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Opis</mat-label>
    <input matInput [(ngModel)]="newTransaction.description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kwota</mat-label>
    <input matInput [(ngModel)]="newTransaction.amount" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newTransaction.date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Typ</mat-label>
    <mat-select [(ngModel)]="newTransaction.type">
      <mat-option value="INCOME">Przychód</mat-option>
      <mat-option value="EXPENSE">Wydatek</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-button (click)="onSave()">Zapisz</button>
</div>
